.aboutPage{
    width: 80%;
    margin-top: 30rem;
    .about{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        margin-bottom: 5em;
        .picture{
            width: 20rem;
            img{
                border-radius: 12em;
                width: 100%;
                box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35);
            }
        }

        .aboutMe{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            p{
                strong{
                    color: var(--primary-color);
                    transition: color .3s ease;
                    font-size: 1.1rem;
                    font-family: 'Lato', sans-serif;
                    font-weight: 600;
                }
            }
            .downloadBtn{
                color: var(--primary-color);
                border: 3px solid var(--primary-color);
                border-radius: 10px;
                font-size: 1.1rem;
                font-weight: 600;
                width: 15vw;
                padding: 2.5px 11px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease-in-out;
                &:hover{
                    color: #f1f7f6;
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .skills {
        width: 100%;
        .skillsSet {
            width: 80%;
            margin: 0 auto;
            
            ul {
                padding: 3em;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 2em;
    
                li {
                    color: var(--primary-color);
                    background-color: var(--skills-bg);
                    padding: 1em;
                    border-radius: .3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: .5em;
                    height: auto;
                    transition: background-color 0.3s ease-in-out, color .3s ease;
                    font-size: 1.2rem;
                    svg {
                        font-size: 3em;
                    }
                }
            }
        }
    }
    
}
