/* Temas */
.light {
  --bg-color: #f1f7f6;
  --text-color: #0C0A12;
  --primary-color: #47126b;
  --skills-bg: #c3c1c5;
}

.dark {
  --bg-color: #0C0A12;
  --text-color: #f1f7f6;
  --primary-color: #9EB800;
  --skills-bg: #29282b;
}

/* Estilos base */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1, h2{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5em;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: .3s ease-in-out;
  img{
    -webkit-user-drag: none;
  }
}
.dark body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
