@import "./globals.scss";

@keyframes floating {
    0%{
        transform: translateY(-10%);
        transition: ease 1s;
    }
    50%{
        transform: translateY(10%);
        transition: ease 1s;
    }
}
.homePage {
    width: 100%;
    .presentation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        .greeting{
            width: 40%;
            text-align: left;
            p{
                margin-bottom: 1.5em;
                span{
                    font-size: 1.5rem;
                }
            }
            a{
                opacity: .8;
                font-weight: bold;
                font-size: 1.1rem;
                display: inline-flex;
                align-items: center;
                gap: .5rem;
                transition: opacity .3s ease-in-out;
                svg{
                    transition: transform .3s ease;
                    font-size: 1.5rem;
                }
                &:hover{
                    opacity: 1;
                    svg{
                        transform: translateX(.5rem);
                    }
                }
            }
        }
        .presentationImg{
            width: 25rem;
            img{
                box-shadow: 0 1em 2em rgba(0, 0, 0, .6);
                transform: translateY(-10%);
                animation: floating 5s infinite;
                transition: ease 1s;
                width: 100%;
                border-radius: 3px;
            }
        }
    }
}
.light .animatedType{
    color: #8847FF;
}
.dark .animatedType{
    color: #99FF3A;
}
